* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Merriweather", serif;
}

:root {
    --container-padding: 40px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 5;
}

.header-offer {
    padding: 12px 40px;
    background-color: #EFF4F7;
}

.header-offer p {
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-align: center;
}

nav {
    padding: 12px 40px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(150, 138, 138);
}

.nav-left {
    display: flex;
    align-items: center;
    column-gap: 100px;
}

.nav-left ul {
    display: flex;
    column-gap: 30px;
}

.nav-left ul a {
    color: black;
}

.nav-right {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.search-container {
    position: relative;
}

.search-container input {
    padding: 11px 35px;
    background-color: #f4f5f7;
    border: none;
    border-radius: 2rem;
}

.search-container .search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.nav-right i {
    font-size: 1.3rem
}

.icons i {
    padding-left: 10px;
}

/* EAR BUDS SECTION */

#earbuds {
    height: 100vh;
    background-image: linear-gradient(#edfefe, #eeffff);
}

.earbuds-container {
    padding: 120px 40px 0px 40px;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-content {
    margin-top: 170px;
}

.main-heading {
    font-size: 84px;
    font-weight: 300;
    line-height: 84px;
    text-align: left;
    margin-bottom: 15px;
    color: #1a2024;
}

.sub-heading {
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    margin: 0px;
}

.section-content button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 24px;
}

.section-image img {
    width: 100%;
}


/* EAR BUDS BEST SELLERS */


.ebud-container {
    padding: 0px 40px 20px;
    background-image: linear-gradient(#eeffff, #fff);
}

.best-seller-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.best-seller-heading h3 {
    font-size: 32px;
    position: relative;
    letter-spacing: -1.28px;
    font-weight: 500;
    color: #1a2024;
    position: relative;
}

.best-seller-heading h3::after {
    content: '';
    height: 2px;
    width: 23px;
    background: #d83333;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.best-seller-heading a {
    color: #264978;
    font-size: 12px;
    font-weight: 700;
}

.best-seller-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 232px));
    column-gap: .4rem;
    row-gap: 10px;
}

.best-seller-card {
    background-color: #FAFAFA;
    border: 1px solid #ECF0F4;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.best-seller-img {
    position: relative;
}

.image-top {
    position: absolute;
    background-color: black;
    color: white;
    top: 0;
    left: 0;
    padding: 3px 5px;
    border-radius: 5px;
}

.image-top p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: 600;
}

.best-seller-img img {
    width: 100%;
    height: 222px;
}

.best-seller-feature {
    background-color: #fcc50b;
    margin-top: -4px;
    padding: 6px 7px 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.best-seller-feature p {
    font-size: 11px;
    font-weight: 700;
}

.best-seller-rating {
    background-color: white;
    border-radius: 5px;
    padding: 0 5px;
}

.best-seller-rating span {
    font-family: 'Times New Roman', Times, serif;
}

.best-seller-name {
    font-size: 15px;
    margin: 19px 7px;
}

.best-seller-price-details {
    margin: 1px 7px 6px 10px;
    border-top: 2px dashed #e3e3e3;
    display: flex;
    justify-content: space-between;
}

.best-seller-price {
    font-size: 18px;
    padding: 5px 0px;
}

.best-seller-price-details-left span {
    font-size: 10px;
    font-weight: bold;
}

.best-seller-price-details-right {
    position: relative;
}

.best-seller-price-details-right div {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 5px;
    right: 4px;
    border: 1px solid #D0D9DE;
}

.best-seller-price-details-right .color-1 {
    right: 12px;
}

/* SMART WATCH */

.smartwatch-container {
    padding: 0px 40px;
    background-image: linear-gradient(#fffefd, #fff2da);
}

.section-content-right {
    margin-top: 270px;
}

.main-heading-right,
.sub-heading-right {
    text-align: right;
}

.section-content {
    position: relative;
}

.button-right {
    position: absolute;
    top: 50;
    right: 0;
}


/* SMART WATCH BEST SELLERS */

.smartwatch-bestseller-container {
    padding: 0px 40px 20px;
    background-image: linear-gradient(#fff1d6, #fff);
}

/* NECK BAND */
.neckbands-container {
    padding: 0px 40px;
    background-image: linear-gradient(#ffffff, #f2edff);
}

/* SMART WATCH BEST SELLERS */

.neck-band-bestseller-container {
    padding: 0px 40px 20px;
    background-image: linear-gradient(#f2edff, #ffffff);
}

.headphones-container {
    padding: 0px 40px 20px;
    background-image: linear-gradient(#ffffff, #dfeeeb);
}

.headphones-bestseller-container {
    padding: 0px 40px 20px;
    background-image: linear-gradient(#dfeeeb, #FFF);
}

.wireless-speaker-container {
    padding: 0px 40px 20px;
    background-image: linear-gradient(#ffffff, #e6ecff);
}

.wireless-speaker-bestseller-container {
    padding: 0px 40px 20px;
    background-image: linear-gradient(to bottom, #e5ebff, #ffffff);
}

.party-speakers-container {
    padding: 0px 40px 20px;
    background-image: linear-gradient(#ffffff, #eddfcb);

}

.party-speakers-bestseller-container {
    padding: 0px 40px 20px;
    background-image: linear-gradient(#eddfcc, #fff)
}

#sound-bar {
    height: 60vh;
}

.sound-bar-container {
    padding: 0px 40px 20px;
    height: inherit;
    background-image: linear-gradient(#ffffff, #f3e5e5);
}

.sound-bar-content-image {
    position: relative;
    height: inherit;
}

.sound-bar-content-image img {
    position: absolute;
    width: 85%;
    bottom: 0px;
    right: 0;
}

.wireless-speaker-bestseller-container {
    padding: 0px 40px 20px;
    background-image: linear-gradient(#f3e4e4, #fff);
}

.bootom-banner-container {
    padding: 0px 40px;
}

.bootom-banner-image-container {
    border-radius: 10px;
    overflow: hidden;
}

.bootom-banner-image-container img {
    width: 100%;
}

/* FOOTER ONE */

#footer-one {
    margin-top: 30px;
    position: relative;
}

.footer-container {
    background-color: #EFF4F7;
    margin: 0px 15px;
    /* padding: 54px 54px; */
}

.footer-one-container {
    /* margin: 0px 15px; */
    padding: 54px 54px;
    background-color: #E7F0F5;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.footer-one-child-one {
    width: 28%;
}

.footer-col {
    width: 16%;
}

.footer-logo {
    max-width: 150px;
}

.footer-logo img {
    width: 100%;
}

.signup-form {
    margin-top: 20px;
    position: relative;
}

.signup-form input {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 13px;
    padding: 0 12px;
    border-radius: 10px;
}

.signup-form i {
    position: absolute;
    bottom: 15px;
    right: 21px;
    font-size: 21px;
    color: #929ba2;
}

.footer-col p {
    color: #000;
    text-transform: none;
    margin-bottom: 15px;
}

.footer-col ul li {
    padding-top: 20px;
}

.footer-col ul li a {
    font-size: 16px;
    color: #827D80;
    font-family: 'Times New Roman', Times, serif;
}

.footer-two-container {
    padding: 54px 54px;
}

.footer-two-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-col-two {
    width: 25%;
}

.footer-col-two h5 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #1a2024;
    margin-bottom: 18px;

}

.footer-col-two p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #1a2024;
    margin-bottom: 5px;
}

.footer-col-two ul li a {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    color: #868c91;
}

footer {
    background-color: #E7F0F5;
}

.final-footer-container {
    padding: 54px 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials a i {
    color: black;
}

.final-footer-container p {
    text-align: center;
    font-size: 12px;
    color: rgb(167, 175, 183);
    font-weight: 400;
}

.fixed {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: fixed;
    bottom: 5px;
    right: 0;
}

.fixed img {
    width: 100%;
    border-radius: 50%;
}
.fixed-whatsapp{
    bottom: 55px;
}